@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
.sjs-client-app__logo {
  vertical-align: middle;
}

.sjs-client-app__header {
  background-color: var(--primary, #19b394);
  padding: 10px;
  padding-bottom: 0;
}

.sjs-nav-button {
  display: inline-block;
  margin-left: 24px;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  line-height: 40px;
  color: white;
}

/* 
.sjs-nav-button:hover,
/* .sjs-nav-button.active {
  text-decoration: underline;
} */
.sjs-client-app__content {
  /* position: fixed; */
  /* top: 64px; */
  margin-top: 20px;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow: auto;
  user-select: none;
}

h1 {
  padding-left: 24px;
}

.sjs-client-app__content--about h1,
.sjs-client-app__content--surveys-list h1 {
  padding: 0;
}

.sjs-client-app__content--surveys-list,
.sjs-client-app__content--about {
  max-width: 800px;
  margin: 0 auto;
}

.sjs-client-app__footer {}

.sjs-editor-container {
  height: calc(100% - 2px);
}

.sjs-results-container {
  height: calc(100% - 88px);
}

.sjs-results-content {
  height: 100%;
}

.sjs-results-placeholder {
  line-height: 200px;
  text-align: center;
  border: 1px dotted lightgray;
}

* {
  font-family: 'Vazirmatn', sans-serif !important;
}

.svc-creator__banner {
  display: none !important;

}



.sa-commercial {
  display: none;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Sahel;
  src: url('/assets/fonts/Sahel.eot');
  src: url('/assets/fonts/Sahel.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Sahel.woff2') format('woff2'),
    url('/assets/fonts/Sahel.woff') format('woff'),
    url('/assets/fonts/Sahel.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('/assets/fonts/Sahel-Bold.eot');
  src: url('/assets/fonts/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Sahel-Bold.woff2') format('woff2'),
    url('/assets/fonts/Sahel-Bold.woff') format('woff'),
    url('/assets/fonts/Sahel-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('/assets/fonts/Sahel-Light.eot');
  src: url('/assets/fonts/Sahel-Light.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Sahel-Light.woff2') format('woff2'),
    url('/assets/fonts/Sahel-Light.woff') format('woff'),
    url('/assets/fonts/Sahel-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Sahel;
  src: url('/assets/fonts/Sahel-SemiBold.eot');
  src: url('/assets/fonts/Sahel-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Sahel-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/Sahel-SemiBold.woff') format('woff'),
    url('/assets/fonts/Sahel-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Sahel;
  src: url('/assets/fonts/Sahel-Black.eot');
  src: url('/assets/fonts/Sahel-Black.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Sahel-Black.woff2') format('woff2'),
    url('/assets/fonts/Sahel-Black.woff') format('woff'),
    url('/assets/fonts/Sahel-Black.ttf') format('truetype');
  font-weight: 900;
}

* {
  font-family: 'Vazirmatn', sans-serif !important;
}

.spg-input,
.svc-toolbox__item-title,
.svc-text,
.svc-tabbed-menu-item__text,
.svc-text--normal, .sd-dropdown__filter-string-input {
  font-family: 'Vazirmatn', sans-serif !important;
}

/* .sd-element__num {
  display: none;
} */



.sd-body {
  min-height: 80vh;
}

.sd-item__control-label{
  text-align: right !important;
}

.sd-root-modern.sd-root-modern--mobile, .sd-table__cell.sd-matrix__cell, .sd-matrix__responsive-title {
  margin-right: 4px !important;
}

.svc-question__adorner {
 
  width: fit-content;
}

.svc-question__content .sd-question.sd-question--table {
  
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}


.sd-element--complex:not(.sd-element--collapsed)>.sd-element__header--location-top {
  display: flex;
  padding-bottom: var(--sd-base-vertical-padding);
  padding-top: var(--sd-base-vertical-padding);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  text-align: rtl;
}

.sv-list__item span {
  white-space: normal;
  word-break: break-word;
}

.logos{
  display: flex;
    justify-content: space-around;
    align-items: center;
  
}